{{#extends 'base'}}
{{#block "title"}} No.1 Car Website {{/block}}

{{#block "header"}} CAR DB MANAGEMENT {{/block}}
{{#block "content"}} 

<nav>
    <div class="row">
        <div class="col">
            <a class="text-dark" href="/owner"><h3>Owner Details</h3></a>
        </div>
        <div class="col">
            <a class="text-dark" href="/car"><h3>Car Details</h3></a>
        </div>
        <div class="col">
            <a class="text-dark" href="/reference"><h3>Car reference</h3></a>
        </div>
    </div>
</nav>

{{/block}}
{{/extends}}