{{#extends 'base'}}
{{!-- To change the title block --}}
{{#block "title"}}CREATE DATA {{/block}}

{{!-- To change the content block --}}
{{#block "content"}}
<form method="POST" class="row">
    <div class="col-12 col-md-6">
        <hr>
        <h4>CAR OWNER DETAILS</h4>
        <div class="mt-2">
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="mt-2">
            <input type="text" name="fname" placeholder="first_name">
            <input type="text" name="lname" placeholder="last_name">
        </div>
        <div class="mt-2">
            <input type="email" name="email" placeholder="email">
        </div>
        <div class="mt-2">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="password_confirm" placeholder="password again">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mt-2">
            <button class="btn btn-dark">Submit</button>
        </div>
    </div>
</form>
{{/block}}

{{/extends}}